extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let bridgeid = toShow._id 
    - let bridge_type= toShow.bridge_type
    - let bridge_name = toShow.bridge_name 
    - let bridge_size = toShow.bridge_size 
    - let actionid = "/resource/bridges/" + bridgeid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='bridgeAttr mr-3') bridge ID is: 
        div #{bridgeid} 
      div.row 
        div(class='bridgeAttr mr-3')  bridge_type is: 
        div #{bridge_type} 
      div.row 
        div(class='bridgeAttr mr-3')  bridge_name is: 
        div #{bridge_name} 
      div.row 
        div(class='bridgeAttr mr-3')  bridge_size is: 
        div #{bridge_size} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the bridge collection 
      window.location.href='/bridges' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      //Dont need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/bridges' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error  
        alert("Delete failed " + error ) 
      }); 
    }  
     